.c-story-post-item {
  height: 600px;
  position: relative;
  transform: scale(0.8);
  width: 376px;
  transition: .4s;
  pointer-events: none;
  z-index: 0;
  &.active {
    pointer-events: auto;
    z-index: 1;
  }
}

.stories-container {
  background-color: #fff;
  border-radius: 10px;
}

.active .stories-container {
  transform: scale(1.1);
  transition: all 0.2s;
}

.header {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
  padding: 15px;
  overflow-y: scroll;
  height: 500px;
}

.button {
  text-align: center;
  border-top: 1px solid rgba(202, 202, 202, 1);
  padding: 30px;
  box-shadow: 0 -20px 8px 0 #f3f3f3;
}

.button button {
  width: 270px;
}

.arrows-wrapper {
  z-index: 99;
  display: none;
}
.active .arrows-wrapper {
  display: block;
}
.btn {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #000;
  padding: 15px;
  z-index: 99;
  svg {
    fill: #000;
  }
}
.btn-next svg {
  transform: rotate(180deg);
}
.btn-prev {
  left: -20%;
  transform: translate(-50%, -50%);
}
.btn-next {
  left: 120%;
  transform: translate(-50%, -50%);
}