.avatar-container {
  padding: 5px 0;
}
.content-wrapper {
  padding: 15px 0;
  border: solid;
  border-width: 1px 0;
  border-color:#e0e0e0;
  background: linear-gradient(180deg, white, #f3f3f3);
  padding: 5px 15px;
}
.button-wrapper {
  text-align: center;
  padding: 15px;
}